 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container px-4">
      <a class="navbar-brand" href="#page-top">Conversor de Moedas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="#about">Sobre</a></li>
              <li class="nav-item"><a class="nav-link" href="#services">Converter Moedas</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contato</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
  <div class="container px-4 text-center">
      <h1 class="fw-bolder">BEM VINDO AO CONVERSOR DE MOEDAS</h1>
      <p class="lead">UM CONVERSOR DE MOEDAS FUNCIONAL</p>
      <a class="btn btn-lg btn-light" href="#services">Comece a Conversão</a>
  </div>
</header>
<!-- About section-->
<section id="about">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>Sobre a página</h2>
              <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, quasi dolorum eligendi similique nostrum explicabo odit voluptatem magnam est consequatur fugit esse quibusdam et praesentium. Perspiciatis aliquid cum quae reprehenderit?</p>
              <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- Services section-->
<section class="bg-light" id="services">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>Converta sua Moeda</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          </div>
      </div>
  </div>
</section>
<!-- Contact section-->
<section id="contact">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>Contatos</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          </div>
      </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Plinio Gonçalves 2023</p></div>
</footer>
